body {
  margin: 0;
  padding: 2rem;
  background-color: #a54848;
  color: rgb(17, 14, 14);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}



.card-list {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 400px;
  background-color: #fff;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0.5rem;
}

.card h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.card span {
  font-size: 1rem;
  color: #555;
  margin: 0.3rem 0;
}

.card p {
  font-size: 0.9rem;
  line-height: 1.3;
}